.recommend {
	padding: 25px 20px;
	margin-bottom: 20px;

	h3 {
		margin-bottom: 35px;
	}

	.recommend_news_all {
		display: flex;

		@media (max-width: 1000px) {
			display: block;
		}

		.recommend_news {
			justify-content: space-between;
			margin-right: 21px;
			border: 1px solid #e2e2e2;

			@media (max-width: 1000px) {
				width: 100%;
				margin: 0;
				margin-bottom: 20px;
			}

			&:last-child {
				margin-right: 0;
			}

			img {
				width: 100%;
			}

			h5 {
				width: 90%;
				margin: 20px auto;
				font-family: 'Didact Gothic';
				font-size: $fs14;
				line-height: 22px;
				text-align: center;
			}
		}
	}
}

.disqus {
	margin-bottom: 80px;
}