.search {
	position: relative;
	margin-bottom: 20px;
	height: 60px;

	@media (max-width: 1000px) {
		display: none;
	}

	form {
		position: relative;

		input[type=text] {
				width: 100%;
				height: 60px;
				padding-left: 20px;
				border: 1px solid #e2e2e2;
				outline: none;
			}
			
			input[type=submit] {
				position: absolute;
				top: 1px;
				right: 1px;
				width: 58px;
				height: 58px;
				border: none;
				background-image: url('../img/search_button.png');
				background-position: 50%;
				background-color: transparent;
				cursor: pointer;
				outline: none;
			}
	}
}