/* background-color */
$background_gray: #f2f2f2;
$background_orange: #efb607;

/* font-sizes */
$fs12: 12px;
$fs13: 13px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs30: 30px;
$fs36: 36px;
$fs40: 40px;
$fs48: 48px;

/* media */